---
import Box2 from "../components/Box2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="juego">
  <main>
    <h1>HOLAAAAAAAAA</h1>
    <div
      class="grid gap-4 grid-cols-3 grid-rows-2 w-[600px] h-screen mx-auto items-center justify-items-center"
    >
      <Box2 />
      <Box2 />
      <Box2 />
      <Box2 />
      <Box2 />
      <Box2 />
    </div>
  </main>
</Layout>
