---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="juego">
  <main>
    <h1 class="text-[0.5rem]">HOLAAAAAAAAA</h1>
    <div
      class="grid gap-4 grid-cols-3 grid-rows-2 w-[600px] h-screen mx-auto items-center justify-items-center"
    >
      <Box />
      <Box />
      <Box />
      <Box />
      <Box />
      <Box />
    </div>
  </main>
</Layout>
<style>
  :root {
    font-size: 20vmin;
  }
  body {
    perspective: 6.5rem;
  }
</style>
