---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Recibida!">
  <div class="grid xl:grid-cols-[minmax(900px,_1fr)_250px] max-w-7xl gap-4">
    <div class="flex flex-col items-center justify-center">
      <Card />
    </div>
  </div>
</Layout>
